@media screen and (max-width: 640px) {
  .container-main {
    display: inline-block;
    width: 100%;
   
  }
  .navbar{
    width: 100%;
    padding-top: 5%;
  }
  .ligne {
    flex-flow: column;
    padding-top: 10%; 
  }
  .colone-gauche{
    border-right: none;
    }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .container-main {
    display: inline-block;
    width: 100%;
   
  }
  .navbar{
    width: 100%;
    padding-top: 5%;
  }
  .ligne {
    flex-flow: column;
    padding-top: 10%; 
  }
  .colone-gauche{
    border-right: none;
    }
}
